<h1>Khoa's Menu</h1>

<ul class="nav nav-pills">
  <% @sections.each do |section| %>
    <li class="nav-item">
      <%= link_to section.name, menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>
    </li>
  <% end %>
</ul>
</br>
<% @food_items.in_groups_of(3) do |group| %>
  <div class="col-sm-4">
    <div class="row">
      <% group.compact.each do |food_item| %>
        <div class="card">
          <%= image_tag food_item.image_url_or_default, atl: food_item.name %>
          <div class="card-block">
            <h4 class="card-title"><%= food_item.name %></h4>
            <p class="card-text"><%= food_item.description %></p>
          </div>
          <div class="card-block">
            <a href="#" class="btn btn-danger">Order</a>
          </div>
        </div>
      <% end %>  
    </div>
  </div>
<% end %> 