<h1><%= link_to "Khoa's Corner", root_path %></h1>
<h2>Contact Us</h2><br/>

<div class="row">
  <div class="col-sm-4">
    <address>
      Hotel Pullman Saigon Centre<br/>
      148 Tran Hung Dao St, Dist 1, Ho Chi Minh City, Vietnam
    </address>
  </div>
  <div class="col-sm-8">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d390.28434924450625!2d106.69193142040746!3d10.764397391362495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf03e60b4aa18989!2sHotel+Pullman+Saigon+Centre!5e0!3m2!1sen!2s!4v1476612483128" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
