<br/><br/><br/>
<div class="jumbotron" style="background-color: #fcedd4">
  <h1>Khoa's Kitchen</h1><br/>
  <div class="row">
    <div class="col-sm-8">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Menu", menu_path, class: 'btn btn-secondary' %>
        <%= link_to "Contact Us", contact_us_path, class: 'btn btn-secondary' %>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'http://i.imgur.com/VgS5CwH.png', style: 'max-width: 100%' %>
    </div>
  </div>

</div>
